body {
  margin: 10px !important;
  background-color: black !important; }

.nav-link {
  margin: 3px !important;
  background-color: #555353 !important; }

.fotodefondo {
  padding: 6.25rem;
  background: url(../imagenes/precentacion.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation-name: entrada-superior;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55); }

.contenido6 {
  background-color: #e9f9ff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1.25rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  justify-content: space-evenly;
  align-items: flex-start; }
  .contenido6 h1 {
    color: black; }

.fotohistoria {
  background: url(../imagenes/tecnico_instalando_aire.jpg);
  padding: 6.25rem;
  background-size: cover;
  background-repeat: no-repeat;
  animation-timing-function: ease-in-out;
  animation-name: entrada-superior;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: 1s; }

.linkapaginas {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #e9f9ff; }

.historia {
  width: 12.5rem;
  height: 12.5rem;
  background: #e9f9ff;
  border-radius: 0.625rem; }

@keyframes entrada-superior {
  0% {
    transform: translateY(-31.25rem); }
  100% {
    transform: translateY(0rem); } }

@media screen and (min-width: 48rem) {
  .nav-link {
    margin: 15px !important;
    background-color: #555353 !important; }
  .logo {
    padding: 110px;
    background: url(../imagenes/logo.jpg);
    background-repeat: no-repeat; }
    .logo h3 {
      display: flex;
      flex-direction: column; }
  .fotodefondo, .contenido6, .fotohistoria, .linkapaginas {
    margin-top: 1.25rem;
    border-radius: 2.5rem; }
  .fotodefondo {
    width: 95%;
    height: 6.25rem;
    padding: 16.25rem;
    background: url(../imagenes/precentacion.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation-name: entrada-superior;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    animation-delay: 1s; }
  .fotohistoria {
    margin-top: 0rem;
    padding: 0rem; }
  .linkapaginas {
    padding: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    background-color: #e9f9ff;
    flex-wrap: nowrap;
    justify-content: center; }
  .linkapaginas:hover {
    transform: scale(1.5); } }

/* imagen en toda la pantalla */
.foto_pantalla_5 {
  margin: 3%;
  min-height: 6.25rem;
  background: url(../imagenes/foto_chica_atendiendo_llamado.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: sans-serif;
  border-radius: 2em; }
  .foto_pantalla_5 .formulario {
    display: flex;
    flex-direction: column;
    width: 25rem;
    color: #f8f9fa; }
  .foto_pantalla_5 .terminosycondiciones {
    display: flex;
    width: 15rem;
    flex-wrap: nowrap;
    flex-direction: row-reverse; }
  .foto_pantalla_5 .consulta {
    padding: 1rem; }

@media screen and (min-width: 768px) {
  .foto_pantalla_5 {
    margin: 3%;
    min-height: 6.25rem;
    background: url(../imagenes/foto_chica_atendiendo_llamado.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: sans-serif;
    border-radius: 2em; } }

.agendaut {
  display: grid;
  grid-template-columns: auto;
  /* agenda en agendaunturno */
  /* fecha disponible */ }
  .agendaut .agenda {
    width: auto;
    height: auto;
    background-color: #2d2e2f;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 1em; }
    .agendaut .agenda h1 {
      color: #9ea294; }
    .agendaut .agenda ol {
      color: azure;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(7, 1fr); }
    .agendaut .agenda .arranca {
      grid-column-start: 2; }
    .agendaut .agenda .dia {
      background-color: azure;
      font-weight: bould;
      color: black; }
  .agendaut .fecha_disponible {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #e9dfdf;
    padding-bottom: 1em;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 60%;
    width: 17.5rem;
    height: 6.25rem;
    border-radius: 1em; }
  @media screen and (min-width: 768px) {
    .agendaut .agenda {
      width: 95%;
      height: auto; }
    .agendaut .fecha_disponible, .agendaut .botonapresupuestos {
      width: 95%;
      height: 6.25rem; }
    .agendaut .fecha_disponible {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-around;
      align-items: center; }
    .agendaut .botonapresupuestos {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center; } }

.fondo_gris {
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  border-radius: 0.625rem;
  background: #414040; }

/* formato de caja de fondo en index2 */
.fondo_gris_1 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between; }

.fondo_gris_2 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between; }

.fondo_gris_3 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between; }

.fondo_gris_4 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between; }

.dato_tecnico_1 {
  display: grid;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 25rem;
  height: 6.25rem;
  border-radius: 0.625rem;
  background: black;
  color: #a4a1a1; }

.foto_tecnico_1 {
  background: url(../imagenes/fotoeric.jpg);
  background-repeat: no-repeat;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 200px;
  height: 6.25rem;
  border-radius: 0.625rem; }

.dato_tecnico_2 {
  display: grid;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 25rem;
  height: 6.25rem;
  border-radius: 0.625rem;
  background: black;
  color: #a4a1a1; }

.foto_tecnico_2 {
  background: url(../imagenes/fotojose.jpg);
  background-repeat: no-repeat;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 200px;
  height: 6.25rem;
  border-radius: 0.625rem; }

.dato_tecnico_3 {
  display: grid;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 25rem;
  height: 6.25rem;
  border-radius: 0.625rem;
  background: black;
  color: #a4a1a1; }

.foto_tecnico_3 {
  background: url(../imagenes/fotojuancho.jpg);
  background-repeat: no-repeat;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 200px;
  height: 6.25rem;
  border-radius: 0.625rem; }

.dato_tecnico_4 {
  display: grid;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 25rem;
  height: 6.25rem;
  border-radius: 0.625rem;
  background: black;
  color: #a4a1a1; }

.foto_tecnico_4 {
  background: url(../imagenes/fotogerman.jpg);
  background-repeat: no-repeat;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 200px;
  height: 6.25rem;
  border-radius: 0.625rem; }

.foto_tecnico_1:hover {
  transform: scale(1.5); }

.foto_tecnico_2:hover {
  transform: scale(1.5); }

.foto_tecnico_3:hover {
  transform: scale(1.5); }

.foto_tecnico_4:hover {
  transform: scale(1.5); }

@media screen and (min-width: 48rem) {
  .foto_pantalla_5 {
    min-height: 18.75rem; }
  .foto_tecnico_1 {
    height: 7.5rem; }
  .foto_tecnico_2 {
    height: 7.5rem; }
  .foto_tecnico_3 {
    height: 7.5rem; }
  .foto_tecnico_4 {
    height: 7.5rem; }
  .fondo_gris_1 {
    flex-direction: row; }
  .fondo_gris_2 {
    flex-direction: row; }
  .fondo_gris_3 {
    flex-direction: row; }
  .fondo_gris_4 {
    flex-direction: row; } }

.fotosdetrabajos {
  padding: 10%;
  display: grid;
  grid-gap: 1.25rem;
  grid-template-areas: "f1" "f2" "f3" "f4" "f5" "f6" "f7" "f8" "f9"; }

.fondodefoto1 .foto1, .fondodefoto2 .foto2, .fondodefoto3 .foto3, .fondodefoto4 .foto4, .fondodefoto5 .foto5, .fondodefoto6 .foto6, .fondodefoto7 .foto7, .fondodefoto8 .foto8, .fondodefoto9 .foto9 {
  font-size: 2rem;
  margin: 2%;
  border-radius: 10%;
  padding: 30%;
  background-repeat: no-repeat; }

.fondodefoto1 {
  background-color: #d9d5d5;
  border-radius: 10%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  grid-area: f1; }
  .fondodefoto1 .foto1 {
    background: url(../imagenes/fotodetrabajos1L.jpg);
    grid-area: f1; }

.fondodefoto2 {
  background-color: #d9d5d5;
  border-radius: 10%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  grid-area: f2; }
  .fondodefoto2 .foto2 {
    background: url(../imagenes/fotodetrabajos2L.jpg);
    grid-area: f2; }

.fondodefoto3 {
  background-color: #d9d5d5;
  border-radius: 10%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  grid-area: f3; }
  .fondodefoto3 .foto3 {
    background: url(../imagenes/fotodetrabajos3L.jpg);
    grid-area: f3; }

.fondodefoto4 {
  background-color: #d9d5d5;
  border-radius: 10%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  grid-area: f4; }
  .fondodefoto4 .foto4 {
    background: url(../imagenes/fotodetrabajos4L.jpg);
    grid-area: f4; }

.fondodefoto5 {
  background-color: #d9d5d5;
  border-radius: 10%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  grid-area: f5; }
  .fondodefoto5 .foto5 {
    background: url(../imagenes/fotodetrabajos5L.jpg);
    grid-area: f5; }

.fondodefoto6 {
  background-color: #d9d5d5;
  border-radius: 10%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  grid-area: f6; }
  .fondodefoto6 .foto6 {
    background: url(../imagenes/fotodetrabajos6L.jpg);
    grid-area: f6; }

.fondodefoto7 {
  background-color: #d9d5d5;
  border-radius: 10%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  grid-area: f7; }
  .fondodefoto7 .foto7 {
    background: url(../imagenes/fotodetrabajos7L.jpg);
    grid-area: f7; }

.fondodefoto8 {
  background-color: #d9d5d5;
  border-radius: 10%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  grid-area: f8; }
  .fondodefoto8 .foto8 {
    background: url(../imagenes/fotodetrabajos8L.jpg);
    grid-area: f8; }

.fondodefoto9 {
  background-color: #d9d5d5;
  border-radius: 10%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  grid-area: f9; }
  .fondodefoto9 .foto9 {
    background: url(../imagenes/fotodetrabajos9L.jpg);
    grid-area: f9; }

@media screen and (min-width: 768px) {
  .fotosdetrabajos {
    padding: 3%;
    grid-template-areas: "f1 f2 f3" "f4 f5 f6" "f7 f8 f9"; }
  .foto1 {
    background: url(../imagenes/fotodetrabajos1L.jpg); }
  .foto2 {
    background: url(../imagenes/fotodetrabajos2L.jpg); }
  .foto3 {
    background: url(../imagenes/fotodetrabajos3L.jpg); }
  .foto4 {
    background: url(../imagenes/fotodetrabajos4L.jpg); }
  .foto5 {
    background: url(../imagenes/fotodetrabajos5L.jpg); }
  .foto6 {
    background: url(../imagenes/fotodetrabajos6L.jpg); }
  .foto7 {
    background: url(../imagenes/fotodetrabajos7L.jpg); }
  .foto8 {
    background: url(../imagenes/fotodetrabajos8L.jpg); }
  .foto9 {
    background: url(../imagenes/fotodetrabajos9L.jpg); } }
