
@import"mixin";

// modo pantalla celular

.agendaut
{
  
  display: grid;
  grid-template-columns: auto;


/* agenda en agendaunturno */
.agenda
  { 

  //    background: url(../imagenes/agenda.jpg);  
  // @include agendaa;
  //
  
  width: auto;
  height: auto;
  background-color: #2d2e2f;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 1em;

  
  h1
  {
    color: #9ea294;
  }

  ol
  {
    pad: 0rem;
    color: azure;
    list-style: none;
    display: grid;
    grid-template-columns:repeat(7, 1fr);
  }

  .arranca 
    {
      grid-column-start:2;
    }

    .dia
    {
      background-color: azure;
      font-weight: bould;
      color: black;
    }
  }

/* fecha disponible */
.fecha_disponible
{
   display: flex;
   flex-direction: row;
   align-items: center;
   background: #e9dfdf;
   @include agendaa;
   width: 24.375rem;
   justify-content: space-evenly;
   p
    {
     color: red; 
     font-size: large;
    }
}

@media screen and (min-width: 768px) 
{

  // modo pantalla laptop
.agenda
{
  width: 95%;
  height: auto;
}

%tamaño 
{
  width: 95%;
  height: 6.25rem;
}

.fecha_disponible
{ 
  @extend %tamaño;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;

   p
    {
     color: red; 
     font-size: x-large;
    }
}



.botonapresupuestos
 {
   display: flex;
   flex-direction: column;
   @extend %tamaño; 
   flex-wrap: nowrap;
   align-items: center;
   justify-content: center;

}

}
}

