
@import"mixin";

// modo pantalla celular

/* agenda en agendaunturno */
.agenda
{
   background: url(../imagenes/agenda.jpg);  
   @include agendaa;
}

/* fecha disponible */
.fecha_disponible
{
   display: flex;
   flex-direction: row;
   align-items: center;
   background: #e9dfdf;
   @include agendaa;
}

@media screen and (min-width: 768px) 
{

  // modo pantalla laptop
.agenda
{
  width: 95%;
  height: 100px;
}

%tamaño 
{
  width: 95%;
  height: 6.25rem;
}

.fecha_disponible
{ 
  @extend %tamaño;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.botonapresupuestos
 {
   display: flex;
   flex-direction: column;
   @extend %tamaño; 
   flex-wrap: nowrap;
   align-items: center;
   justify-content: center;

}

}

