
// modo pantalla celular

// variable
@import"mixin";


.fotosdetrabajos
{
padding: 10%;
display: grid;
grid-gap: 1.25rem;
grid-template-areas:
"f1"
"f2"
"f3"
"f4"
"f5"
"f6"
"f7"
"f8"
"f9"
;
}

.fondodefoto1
{

   @include fondodefoto;
   grid-area: f1;
 

      .foto1
   {
     @include fotos;
     background: url(../imagenes/fotodetrabajos1L.jpg);
     grid-area: f1;
   }
} 

.fondodefoto2
{
   @include fondodefoto;
   grid-area: f2;
 
 
   .foto2
   {
   @include fotos;
   background: url(../imagenes/fotodetrabajos2L.jpg);
   grid-area: f2;
   }
}


.fondodefoto3
{
   @include fondodefoto;
   grid-area: f3;
 
 
   .foto3
   {
   @include fotos;
   background: url(../imagenes/fotodetrabajos3L.jpg);
   grid-area: f3;
   }  
}


.fondodefoto4
{
   @include fondodefoto;
   grid-area: f4;
 
 
   .foto4
   {
   @include fotos;
   background: url(../imagenes/fotodetrabajos4L.jpg);
   grid-area: f4;
   }
}



.fondodefoto5
{
   @include fondodefoto;
   grid-area: f5;
 
   .foto5
   {
   @include fotos;
   background: url(../imagenes/fotodetrabajos5L.jpg);
   grid-area: f5;
   }  
}

.fondodefoto6
{
   @include fondodefoto;
   grid-area: f6;
 
   .foto6
   {
   @include fotos;
   background: url(../imagenes/fotodetrabajos6L.jpg);
   grid-area: f6;
   }  

}

.fondodefoto7
{
   @include fondodefoto;
   grid-area: f7;
 
 
   .foto7
   {
   @include fotos;
   background: url(../imagenes/fotodetrabajos7L.jpg);
   grid-area: f7;
   }

}


.fondodefoto8
{
   @include fondodefoto;
   grid-area: f8;
 
   .foto8
   {
   @include fotos;
   background: url(../imagenes/fotodetrabajos8L.jpg);
   grid-area: f8;
   }  

}


.fondodefoto9
{
   @include fondodefoto;
   grid-area: f9;
 
 
   .foto9
   {
   @include fotos;
   background: url(../imagenes/fotodetrabajos9L.jpg);
   grid-area:f9;
   }
}


@media screen and (min-width: 768px) 
{
 
 // modo pantalla laptop
   .fotosdetrabajos
{
   padding: 3%;
   grid-template-areas:
   "f1 f2 f3"
   "f4 f5 f6"
   "f7 f8 f9"
   ;
}

.foto1
{
   background: url(../imagenes/fotodetrabajos1L.jpg);  
}

.foto2
{
    background: url(../imagenes/fotodetrabajos2L.jpg);
    
}

.foto3
{
    background: url(../imagenes/fotodetrabajos3L.jpg);
    
}

.foto4
{
   background: url(../imagenes/fotodetrabajos4L.jpg);
   
}

.foto5
{
    background: url(../imagenes/fotodetrabajos5L.jpg);
   
}

.foto6
{
    background: url(../imagenes/fotodetrabajos6L.jpg);
   
}

.foto7
{
   background: url(../imagenes/fotodetrabajos7L.jpg);
  
}

.foto8
{
    background: url(../imagenes/fotodetrabajos8L.jpg);
    
}

.foto9
{
    background: url(../imagenes/fotodetrabajos9L.jpg);
   
}

}