
@import"mixin";
$color_fondogris:#A4A4A4;
    
  // modo pantalla celular


.fondo_gris
{
display: flex; 
flex-direction: column;
margin-top: 1.25rem;
margin-bottom: 1.25rem;
margin-left: 1.25rem;
margin-right: 1.25rem;
border-radius: 0.625rem;
background:$color_fondogris;
}


/* formato de caja de fondo en index2 */
.fondo_gris_1
{
   @include fondogris;
  
}

.fondo_gris_2
{
   @include fondogris;
   
}

.fondo_gris_3
{
    @include fondogris;
   
}

.fondo_gris_4
{
    @include fondogris;
    
}

.dato_tecnico_1
{
     @include datotecnico;
}


.foto_tecnico_1 
{
    background: url(../imagenes/fotoeric.jpg);
    @include fototecnico;
}

.dato_tecnico_2
{
    @include datotecnico;
}

.foto_tecnico_2 
{
   background: url(../imagenes/fotojose.jpg);
   @include fototecnico;
}

.dato_tecnico_3
{
    @include datotecnico;
}

.foto_tecnico_3 
{
   background: url(../imagenes/fotojuancho.jpg);
   @include fototecnico;
}

.dato_tecnico_4
{
    @include datotecnico;
}

.foto_tecnico_4 
{  
   background: url(../imagenes/fotogerman.jpg);
   @include fototecnico;
}

.foto_tecnico_1:hover
 {
    transform: scale(1.5) ;
 }

 
.foto_tecnico_2:hover
{
   transform: scale(1.5) ;
}


.foto_tecnico_3:hover
 {
    transform: scale(1.5) ;
 }

 
.foto_tecnico_4:hover
{
   transform: scale(1.5) ;
}

@media screen and (min-width: 48rem) 
{
  // modo pantalla laptop


    .dato_tecnico_1
 {
     width: 37.5rem;
 }

 .dato_tecnico_2
 {
     width: 37.5rem;
 }

 .dato_tecnico_3
 {
     width: 37.5rem;
 }

 .dato_tecnico_4
 {
     width: 37.5rem;
 }

 .foto_pantalla_5
 {
   min-height: 18.75rem;
 }

 .foto_tecnico_1 
{
    height: 120px;
}

 .foto_tecnico_2 
{
    height: 120px;
}


 .foto_tecnico_3 
{
    height: 120px;
}

 .foto_tecnico_4 
{  
   height: 120px;
}

.fondo_gris_1
{
    flex-direction:row;
}

.fondo_gris_2
{
    flex-direction:row;
   
}

.fondo_gris_3
{
    flex-direction:row;
   
}

.fondo_gris_4
{
    flex-direction:row;
    
}


}