
// importo mixin.scss
@import"mixin";

// genero variable
$color:#48494a;
$color1:black;


 
 // modo pantalla celular


 .nav-link 
   {
      //modifico el nav de bubtrap con important ya que lo llama desde linck
      margin: 3px !important;
      background-color: rgb(85, 83, 83)!important;
   }   



.fotodefondo
{ 
   // incluyo mixin
   @extend %fotos_index;
   margin: 10px;
   border-radius: 20px;
   padding: 6.25rem;
   background: url(../imagenes/precentacion.jpg);   
   background-size: cover; 
   background-repeat: no-repeat;
   background-position: center;
   @include animacion;
   animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
   
   h3
   {
      color: #a8a8a8;
   }

}

.contenido6
{
   // incluyo mixin
   @extend %fotos_index;
   background-color: $color;
   display: flex; 
   flex-direction: row;
   flex-wrap: wrap;
   margin-bottom: 1.25rem;
   margin-left: 1.25rem;
   margin-right: 1.25rem;
   justify-content: space-evenly;
   align-items: flex-start;
   border-radius: 0.625rem;
   margin: 1.25rem;

// introducimos nextin
   h1
   {
      color:#a9acb0;
   }

   p
    {
      color:#a9acb0;
    }

}


.fotohistoria
{
   
   background: url(../imagenes/tecnico_instalando_aire.jpg);
   // incluyo mixin
   @extend %fotos_index;
   padding: 6.25rem;
   background-size: cover;
   background-repeat: no-repeat;
   animation-timing-function: ease-in-out;
   @include animacion;
   margin: 10px;
   border-radius: 20px;

}


.linkapaginas
 {
   // incluyo mixin
   @extend %fotos_index;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    flex-wrap: nowrap;
    justify-content: space-between;   
    background-color: $color1; 
 
 }
  
 .historia
 {
    width: 12.5rem;  
    height: 12.5rem;
    background:$color; 
    border-radius: 0.625rem;
    
 }

 
 @keyframes entrada-superior{
    0%{
        transform: translateY(-31.25rem);
    }
 
    100%{
        transform: translateY(0rem);
    }
 }

 @media screen and (min-width: 48rem) 
 {
  // modo pantalla laptop

   .nav-link 
   {
      //modifico el nav de bubtrap con important ya que lo llama desde linck
      margin: 15px !important;
      background-color: rgb(85, 83, 83)!important;
   }
    

  
%fotos_index
{
margin-top: 1.25rem;
border-radius: 2.5rem;
}






    .fotodefondo
    { 
      
       width: 95%;
       height: 6.25rem;
       @extend %fotos_index;
       padding: 16.25rem;
       background: url(../imagenes/precentacion.jpg);   
       background-size: cover; 
       background-repeat: no-repeat;
       background-position: center;

         display: grid;
         justify-content: start;
         align-content: center;
         grid-gap: 1.25rem;
         grid-template-areas:
            "n1 n2 n2 "
            "n2 n2 n2 "
            "n3 n3 n3 "
         ;
      
    
       animation-name: entrada-superior;
       animation-duration: 2s; 
       animation-iteration-count: 1;
       animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
       animation-delay: 1s;
    
      .logo
      {
      grid-area: n1;
      padding: 110px;
      background: url(../imagenes/logo.png);
      background-repeat: no-repeat; 
      height: 350px;
      width: 350px;
       
      }

      .logo1
      {
      grid-area: n2;
      padding: auto;
      height: 350px;
      width: 350px;
      
       
      }   
      
      .logo2
      {
      grid-area: n3;
      padding: auto;
      height: 350px;
      width: 350px;
      
       
      }
      
    }


    
   .fotohistoria
    {
     margin-top: 0rem;
     padding: 0rem;

    }
    
    .linkapaginas
     {
      // incluyo mixin
    
       padding: 0%;
       display: flex;
       flex-direction: row;
       align-items: center;
       align-content: center;
       background-color: $color1;
       justify-content: center;
       margin: 2.5rem;

     
     } 
    
    
     .facebook
     {
      padding-left: 0px;
      font-size: x-large;
     }

     .instagram
     {
      padding-left: 150px;
      font-size: x-large;
     }

     .youtube
     {
      padding-left: 150px;
      font-size: x-large;
     }

   }
  