
// importo mixin.scss
@import"mixin";

// genero variable
$color:#e9f9ff;

 
 // modo pantalla celular


 .nav-link 
   {
      //modifico el nav de bubtrap con important ya que lo llama desde linck
      margin: 3px !important;
      background-color: rgb(85, 83, 83)!important;
   }   



.fotodefondo
{ 
   // incluyo mixin
   @include fotos_index;
   padding: 6.25rem;
   background: url(../imagenes/precentacion.jpg);   
   background-size: cover; 
   background-repeat: no-repeat;
   background-position: center;
   @include animacion;
   animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);

}

.contenido6
{
   // incluyo mixin
   @include fotos_index;
   background-color: $color;
   display: flex; 
   flex-direction: row;
   flex-wrap: wrap;
   margin-bottom: 1.25rem;
   margin-left: 1.25rem;
   margin-right: 1.25rem;
   justify-content: space-evenly;
   align-items: flex-start;

// introducimos nextin
   h1
   {
      color:black;
   }

}


.fotohistoria
{
   
   background: url(../imagenes/tecnico_instalando_aire.jpg);
   // incluyo mixin
   @include fotos_index;
   padding: 6.25rem;
   background-size: cover;
   background-repeat: no-repeat;
   animation-timing-function: ease-in-out;
   @include animacion

}


.linkapaginas
 {
   // incluyo mixin
    @include fotos_index;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    flex-wrap: nowrap;
    justify-content: space-between;   
    background-color: $color; 
 
 }
  
 .historia
 {
    width: 12.5rem;  
    height: 12.5rem;
    background:$color; 
    border-radius: 0.625rem;
    
 }

 
 @keyframes entrada-superior{
    0%{
        transform: translateY(-31.25rem);
    }
 
    100%{
        transform: translateY(0rem);
    }
 }

 @media screen and (min-width: 48rem) 
 {
  // modo pantalla laptop

   .nav-link 
   {
      //modifico el nav de bubtrap con important ya que lo llama desde linck
      margin: 15px !important;
      background-color: rgb(85, 83, 83)!important;
   }   

   .logo
   {
      padding: 110px;
      background: url(../imagenes/logo.jpg);
      background-repeat: no-repeat; 
   }

    .fotodefondo
    { 
      
      // incluyo mixin
      @include fotos_index;
       padding: 16.25rem;
      background: url(../imagenes/precentacion.jpg);   
       background-size: cover; 
       background-repeat: no-repeat;
       background-position: center;
    
       animation-name: entrada-superior;
       animation-duration: 2s; 
       animation-iteration-count: 1;
       animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
       animation-delay: 1s;
    }
    
   .fotohistoria
    {
     margin-top: 0rem;
     padding: 0rem;

    }
    
    .linkapaginas
     {
      // incluyo mixin
       @include fotos_index;
       padding: 0%;
       display: flex;
       flex-direction: row;
       align-items: center;
       align-content: center;
       background-color: $color;
       flex-wrap: nowrap;
       justify-content: center
     
     } 
    
    
     .linkapaginas:hover
     {
        transform: scale(1.5) ;
     }
    
}   