

@mixin fondodefoto($color_fondodefoto: #d9d5d5) 
{
   background-color: $color_fondodefoto;
   border-radius: 10%;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
   align-content: space-around;
   align-items: center;
}


@mixin animacion
{
   animation-name: entrada-superior;
   animation-duration: 2s; 
   animation-iteration-count: 1;
   animation-delay: 1s;
    
}

@mixin fondogris
{
 
   display: flex; 
   flex-direction: column-reverse;
   justify-content: space-between;
}

@mixin datotecnico
{
      display: grid;
      justify-content: center;
      margin-top: 2%;
      margin-bottom: 2%;
      width: 25rem;
      height: 6.25rem;
      border-radius: 0.625rem;
      background: black;
      color: #a4a1a1;
    
}

@mixin fototecnico
{
   background-repeat: no-repeat;
   margin-top: 2%;
   margin-bottom: 2%;
   width: 200px;
   height: 6.25rem;
   border-radius: 0.625rem;

}

@mixin agendaa
{
   
   padding-bottom: 1em;
   margin-top: 2%;
   margin-bottom: 2%;
   margin-left: 2%;
   margin-right: 60%;
   width: 17.5rem;
   height: 6.25rem;
   border-radius: 1em;
}