
// modo pantalla celular

.fotosdetrabajos
{
padding: 10%;
display: grid;
grid-gap: 20px;
grid-template-areas:
"f1"
"f2"
"f3"
"f4"
"f5"
"f6"
"f7"
"f8"
"f9"
;
}

.fondodefoto1
{
   border-radius: 10%;
   padding: 30%;
   background-color: #e9dfdf;
   grid-area: f1;

} 

.foto1
{
   grid-area: f1; 
    border-radius: 10%;
   padding: 30%; 
   background: url(../imagenes/fotodetrabajos2C.jpg);
    background-repeat: no-repeat;
    display: flex; 
    flex-direction: center;
 
}

.fondodefoto2
{
   border-radius: 10%;
   padding: 30%;
   background-color: #e9dfdf;
   grid-area: f2;

} 


.foto2
{
   border-radius: 10%;
   padding: 30%;
   background: url(../imagenes/fotodetrabajos1C.jpg);
   background-repeat: no-repeat;
   grid-area: f2;
}
.foto3
{
   border-radius: 10%;
   padding: 30%;
   background-color: #e9dfdf;
   grid-area: f3;
}
.foto4
{
   border-radius: 10%;
   padding: 30%;
   background-color: #e9dfdf;
   grid-area: f4;
}
.foto5
{
   border-radius: 10%;
   padding: 30%;
   background-color: #e9dfdf;
   grid-area: f5;
}
.foto6
{
   border-radius: 10%;
   padding: 30%;
   background-color: #e9dfdf;
   grid-area: f6;
}
.foto7
{
   border-radius: 10%;
   padding: 30%;
   background-color: #e9dfdf;
   grid-area: f7;
}
.foto8
{
   border-radius: 10%;
   padding: 30%;
   background-color: #e9dfdf;
   grid-area: f8;
}
.foto9
{
   border-radius: 10%;
   padding: 30%;
   background-color: #e9dfdf;
   grid-area:f9;
}

@media screen and (min-width: 768px) 
{
 
 // modo pantalla laptop
   .fotosdetrabajos
{
   padding: 3%;
   grid-template-areas:
   "f1 f2 f3"
   "f4 f5 f6"
   "f7 f8 f9"
   ;
}
}