/* imagen en toda la pantalla */
.foto_pantalla_5
{ 
   margin: 3%;
   min-height: 100px; 
   background: url(../imagenes/foto_chica_atendiendo_llamado.jpg);  
   background-size: cover;  
   background-repeat: no-repeat;
   background-position: center; 
   font-family: sans-serif;   
   border-radius: 2em;
   }